<p>Sobre esse projeto, blá,blá,blá,blá</p>
<p>Esse projeto tem como intuito auxiliar professores a conhecerem softwares e Ferramentas
que poderão ser de grande ajuda nas diferentes modalidades de ensino</p>
<p>Serão apresentadas ferramentas para edição de imagem, texto, vídeo e áudio, ferramentas Google
que facilitarão muito a vida dos profeessores e servirão até para eles apresentarem a seus alunos</p>
