<div class="header-container">
  <div class="page-header">
    <div class="page-header_content">
      <h1><i class="fas fa-home"></i> Início</h1>
    </div>
  </div>
</div>

<div class="about">
  <p>Esse projeto se origina da disciplina de Extensão Integrada VI ministrada pelo professor Fábio Machado onde
    foi proposta a criação de um site para trazer informações sobre tecnologia para professores com pouca
    familiaridade com o assunto.</p>
  <p>Esse site busca auxiliar professores a conhecerem softwares e Ferramentas
  que poderão ser de grande ajuda nas diferentes modalidades de ensino que foram propostas durante os tempos de
  pandemia.</p>
  <p>Nas abas de navegação são apresentadas ferramentas para edição de imagem, texto, vídeo e áudio, ferramentas Google
  que facilitarão muito a vida dos profeessores e servirão até para eles apresentarem a seus alunos bem como breves informações
  sobre as 3 principais modalidades de ensino: Ensino presencial, Ensino remoto e Educação a distância.</p>
  <p>A versão atual do MeAjudaAe busca apenas intermediar o contato entre professores e softwares/ferramentas que podem
  auxiliá-los no dia a dia. Trazendo na maioria das vezes soluções gratuitas e testadas e também um link direto para o site
para o download ou para algum guia que detalha melhor a aplicação do software ou da ferramenta.</p>
<p>Dito isso, sinta-se livre para explorar o site. &#128521;</p>
</div>
