/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0
}

main {
    padding: 60px 0;
}

body {
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
}


 pre {
   background-color: #eee;
   padding: 10px;
   font-size: 11px; }

 a {
   color: #000; }

 a:visited {
   color: #666; }

 a:hover {
   color: #fff;
   background-color: #000; }

 th {
   padding-bottom: 5px; }

 td {
   padding: 0 5px 7px; }

 div.field,
 div.actions {
   margin-bottom: 10px; }

 #notice {
   color: green; }

 .field_with_errors {
   padding: 2px;
   background-color: red;
   display: table; }

 #error_explanation {
   width: 450px;
   border: 2px solid red;
   padding: 7px 7px 0;
   margin-bottom: 20px;
   background-color: #f0f0f0; }

 #error_explanation h2 {
   text-align: left;
   font-weight: bold;
   padding: 5px 5px 5px 15px;
   font-size: 12px;
   margin: -7px -7px 0;
   background-color: #c00;
   color: #fff; }

 #error_explanation ul li {
   font-size: 12px;
   list-style: square; }

 label {
   display: block; }

.teaching {
  font-size: 13px!important }

.navbar {
  padding: 0.5rem 1rem;
}

//page-header
.header-container {
  display: grid;
  grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
  grid-gap: 40px;
}

.page-header {
  border-bottom: 5px solid #ee8600;
  padding: 10px 20px;
  grid-column: 2 / span 12;
  display: flex;
  grid-template-columns: repeat(12, minmax(auto, 60px));
  grid-gap: 40px;
  flex-direction: column;
}

.page-header_content {
  font-weight: 700;
}


@media screen and (max-width: 1200px) {
  .header-container {
    grid-template-columns: 1px repeat(12, 1fr) 1px;
    grid-gap: 10px;
  }
  .page-header {
    grid-column: 2 / span 12;
  }
}

.footer{
  position: static;
  bottom: 0;
  width: 100%;
  height: 20vw;
  background-color: black;
  margin-top: 5vw;
  color: #fff;
}

.name_container{
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}
.project_name{
  font-size: 24px;
}

.course_logo{
  max-width: 100px;
  max-height: 100px;
  vertical-align: baseline;
}

.course_name{
  display: inline-block;
  font-size: 32px;
  vertical-align: middle;
  font-weight: bold;
  color: #fff;
}

.social_media{
  display: inline-block;
}

#icon{
  background: #323232;
  color: white;
  border-radius: 50%;
  padding: 6px;
  width: 30px;
  text-align: center;
  margin: 5px 2px;
  font-size: 30px;
  cursor: pointer;
}

.fa-twitter:hover{
  background-color: #55ACEE!important;
}

.fa-facebook-f:hover{
  background: #3B5998!important;
}

.fa-linkedin-in:hover{
  background: #007bb5!important;
}

.fa-instagram:hover{
  background: #c13584!important;
}

.fa-github:hover{
  background: white!important;
  color: #323232!important;
}

.fa-whatsapp:hover{
  background: #25D366!important;
}

body{
  background-color: #1b1b1b;
  color: white;
}

.about{
  margin-top: 30px;
  text-align: justify;
  text-justify: inter-word;
  text-indent: 50px;
}
