<p id="notice"><%= notice %></p>

<div class="header-container">
  <div class="page-header">
    <div class="page-header_content">
      <h1>Modalidades de Ensino</h1>
    </div>
  </div>
</div>

<main class="softwares-main">
  <section class="softwares" style="align-items: center;">
    <% @teachings.each do |teaching| %>
    <div class="card" style="width:18rem;">
      <a style="text-decoration:none;"href="teachings/<%=teaching.id%>">
      <div class="card-body" style="background-color:#212121">
        <h5 class="card-title">
          <h5 class="card-title"><i class="fas fa-laptop"></i> <%=teaching.name%></h5>
        </h5>
      </div>
      </a>
    </div>
    <% end %>
</section>
</main>
