<p id="notice"><%= notice %></p>
<div class="header-container">
  <div class="page-header">
    <div class="page-header_content">
      <h1><%=@teaching.name%></h1>
    </div>
  </div>
</div>

<div class="info">
  <i class="fas fa-info-circle inline-block orange_text"></i>
  <p class="teaching_paragraph inline-block">O que é?</p>
</div>

<div style="white-space: pre-wrap; text-align: justify;
  text-justify: inter-word;
  text-indent: 50px;">
  <%= @teaching.content %>
</div>

<div class="d-grid gap-2" style="margin-top:50px;">
  <%= link_to '<i class="fas fa-undo-alt"></i> Voltar'.html_safe, teachings_path, class:'btne btn-secondary' %>
</div>
