<div class="footer">
  <div class="container name_container">
    <span class="project_name">Projeto MeAjudaAe</span>
    <div class="social_media">
      <a href="#" class="fa fa-twitter" id="icon"></a>
      <a href="#" class="fa fa-facebook" id="icon"></a>
      <a href="#" class="fa fa-instagram" id="icon"></a>
      <a href="#" class="fab fa-linkedin-in" id="icon"></a>
      <a href="#" class="fa fa-github" id="icon"></a>
      <a href="#" class="fa fa-whatsapp" id="icon"></a>
    </div>
  </div>
  <div class="container" style="display:flex;justify-content: center;align-items:center">
    <img class="redentor_logo" src="https://uniredentor.afya.com.br/hs-fs/hubfs/Uniredentor-Branco.png?width=400&name=Uniredentor-Branco.png" alt="">
    <img class="course_logo" src="https://www.uniredentor.edu.br/managed_images/subsites/sistemas-de-informacao-logo-curso-20210121-073537.png?g=s&w=257&h=257&mode=pad&anchor=middlecenter&scale=canvas&paddingWidth=40" alt="">
  </div>
</div>
